
.home {
  justify-content: right;
  align-self: flex-end;
}

form{
  background-color: rgb(247, 243, 243);


}
.profile {
  margin: auto;
  margin-top: 200px;
  width: 50%;
  border: 3px solid gray;
  padding: 10px;
}
h1,
.dropdown-item {
  text-align: center;
}
/* .row {
  padding-left: 337px !important;
  padding-right: 337px !important;
<<<<<<< HEAD
}

/* Form inputs responsive as centered inside of the "PawMe Profile" container */
#profile .parentName,
#profile .zipCode,
#profile .btn2,
#profile .btn1,
#profile .submit {
  /* margin: auto; */
=======
} */
.parentName,
.zipCode,
#btn1,
#btn2,
.submit {
  margin: auto;
  padding: 10px;
>>>>>>> e2d9f56f3079d59b28748496927a0e46e6e84208
  min-width: 100%;
  max-width: 100%;
  align-content: center;
  text-align: center;
}

#randomBtn {
  align-content: center;
  text-align: center;
  margin: auto;
  padding: 10px;
  min-width: 100%;
  max-width: 100%;
  
}
#btn3{
  width: auto;
  border: 3px solid black;
  background-color: skyblue;
}
#dogImage {
  display: block;
  max-width: 100%;
  height: auto;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}


.dropdown-menu {
  border: 1px solid black;
  width: 368px;
}
.submitBtn {
  width: auto;
  border: 3px solid black;
  background-color: skyblue;
}

.card {

  margin: 25px;
}
#results-container {
  border: 3px solid rgb(238, 234, 234);
  display: flex;
  flex-wrap: wrap;
  background-color: darkgray;
}

.hidden {
  display: none;
}

/* @media only screen (max-width: 600px) {
    .profile {
        display: flex;
        margin: auto;
        margin-top: 100px;
        width: 25%;
        border: 3px solid black;
        padding: 5px;
    }
    h1 , .dropdown-item{
        align-items: center;
        text-align: center;
    }
    .row {
        padding-left: 337px !important;
        padding-right: 337px !important;
    }
    .parentName , .zipCode , #btn1 , #btn2 , .submit {
        min-width: 100%;
        max-width: 100%;
        align-content: center;
        text-align: center;
    }
} */
