/* nav bar styling */
#pawMe{
  font-family:'Roboto', sans-serif; 
  color: #ff595c; 
  font-size:15pt
}
#home-btn{
  font-family:'Roboto', sans-serif;
  font-weight: bold; 
  color: #449488; 
  font-size:15pt;
}

/* pawme profile styling */
.profile {
  margin: auto;
  margin-top: 95px;
  width: 30%;
  box-shadow: 5px 5px 10px rgb(192, 189, 189);
  padding: 20px;
  background-color:rgb(235, 235, 235);
  border-radius: 12px;

}

/* header styling */
h1 {
  font-family:'Roboto', sans-serif; 
  color: #ff595c;
  text-align: center;
}
 /* input form styling */
.parentName,
.zipCode,
.submit {
  margin: auto;
  padding: 10px;
  align-content: center;
  text-align: center;
  font-family:'Roboto', sans-serif;
  border-radius: 12px;

}

/* which dog are you bnt styling */
#randomBtn {
  align-content: center;
  text-align: center;
  margin: auto;
  padding: 10px;
  min-width: 100%;
  max-width: 100%; 
}
#btn3{
  width: auto;
  border: none;
  background-color:  #449488;
  font-family:'Roboto', sans-serif;
  font-size: 12pt;
  color: #e9eef1;
  box-shadow: 5px  5px 10px rgb(126, 123, 123);
  padding: 8px 15px;
  border-radius: 12px;
}

/* form btn styling */
.submitBtn {
  width: auto;
  border:none;
  background-color:  #449488;
  font-family:'Roboto', sans-serif;
  font-size: 12pt;
  color: #e9eef1;
  box-shadow: 5px  5px 10px rgb(126, 123, 123);
  padding: 8px 15px;
  border-radius: 12px;
}

/* random dog img */
#dogImage {
  display: block;
  max-width: 100%;
  height: auto;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}


.card {
  margin: 25px;
}
#results-container {
  border: 3px solid rgb(238, 234, 234);
  display: flex;
  flex-wrap: wrap;
  background-color: darkgray;
}

.hidden {
  display: none;
}

/* @media only screen (max-width: 600px) {
    .profile {
        display: flex;
        margin: auto;
        margin-top: 100px;
        width: 25%;
        border: 3px solid black;
        padding: 5px;
    }
    h1 , .dropdown-item{
        align-items: center;
        text-align: center;
    }
    .row {
        padding-left: 337px !important;
        padding-right: 337px !important;
    }
    .parentName , .zipCode , #btn1 , #btn2 , .submit {
        min-width: 100%;
        max-width: 100%;
        align-content: center;
        text-align: center;
    }
} */
